*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
html{
    font-size: 62.5%;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

header{
    color: white;
    display: inline-block;
    margin: 2rem 1rem;
    font-size: 1.6rem;
    font-weight: 700;
}
body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, rgb(0,0,0), rgb(35, 37, 40), rgb(35, 57, 80));
    position: relative;
    padding-bottom: 8rem;
}
button{
    background-color: rgb(0, 159, 253); 
    border-color: rgb(0, 167, 253);
    border-radius: 0.4rem;
}

button:hover{
    opacity: 0.8;
}

button:active{
    opacity: 1;
}
.create-box{
    color: rgb(35, 37, 40);
    display: flex;
    padding: 6rem 1rem 4rem 1rem;
}
#create-task-form-header{
    text-align: center;
}
#create-form{
    background-color: rgb(214, 236, 255);
    border-radius: 0.4rem;
    box-shadow: 0px 0px 1px rgb(0, 159, 253),0px 0px 2px rgb(0, 159, 253);
    margin: 0 auto;
}
.model-box{
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}
.model{
    background-color: rgb(234, 246, 255);
    color: rgb(35, 37, 40);
    box-shadow: 0px 0px 1px white,0px 0px 2px white;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 6rem 1rem 4rem 1rem;
    
}
#model-header{
    text-align: center;
    font-size: clamp(1.6rem,2.4vw,2.4rem);

}
.button{
    margin: 0 auto;
    margin: 4rem auto;
    font-weight: 100;
    padding: 1rem;
    width: 50%;
}
.input-style{
    padding: 0.8rem;
    margin: 2rem 1rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-size: clamp(1.4rem,2.5vw,1.6rem);
    font-weight: 500;
    border-bottom: 1px solid #aaa;
}
.input-create{
    padding: 0.8rem;
    background-color: transparent;
    color: rgb(42, 42, 114);
    border-bottom: 1px solid rgb(42, 42, 114);
}
.input-modify{
    padding: 0.8rem;
    background-color: transparent;
    color: rgb(42, 42, 114);
    border-bottom: 1px solid rgb(42, 42, 114);
}
#button-create{
    width: 150px;
    margin: 0.5rem 2rem 3rem 2rem;
    padding: 0.5rem 2rem;
}

#create-task-form-header{
    padding: 1.4rem 0;
    font-size: 2rem;
    background-color: rgba(3, 71, 150, 0.932);
    color: white;
}
.input-create{
    padding: 0.8rem 0.5rem;
    width: 200px;
}
.svg{
    width: 32px;
    cursor: pointer;
}
#task-table{
    background-color: rgb(214, 236, 255);
    border-collapse: collapse;
    width: 50%;
    margin: 0 auto;
    border-radius: 0.4rem;
    box-shadow: 0px 0px 1px rgb(42, 42, 114),0px 0px 2px rgb(42, 42, 114);
    padding: 1rem;
    border-top-left-radius: 0.4rem;
}

.task-date , .task-title,.task-icons {
    font-size: 1.6rem;
    font-weight: 500;
    border-bottom: 1px dotted;
    padding: 1rem;
}
.task-date h1,.task-title h1{
    font-size: 1.4rem;
    border-right: 1px solid;
    padding: 1rem;
}
.task-date h1{
    width: 100%;
}
#table-header{
    color: rgba(233, 233, 233, 0.932);
    text-align: center;
    background-color: rgba(3, 71, 150, 0.932);
    padding: 1.4rem;
    font-size: 2rem;
}
footer{
    color: white;
    text-align: center;
    font-size: 1.6rem;
    width: 100%;
    position: absolute;
    bottom: 0;

}
