*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}

header{
    background-color: black;
    color: white;
    text-align: center;
    display: block;
}
body{
    background-color: white;
}

.create-box{
    background-color: rgba(0, 0, 0, 0.801);
    text-align: center;
    color: white;
}
.model-box{
    background-color: rgba(0, 0, 0, 0.801);
    position: fixed;
    width: 100%;
    top: 0;
    height: 100vh;
    justify-content: center;
    align-items: center;
    z-index: 999;
    display: none;
}

.model{
    background-color: white;
    box-shadow: 0px 0px 1px white,0px 0px 2px white;
    border-radius: 0.4rem;
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 6rem 1rem 4rem 1rem;
    
}
#model-header{
    text-align: center;
    font-family: sans-serif;
    font-size: clamp(1.6rem,2.4vw,2.4rem);

}
.input-style{
    padding: 0.8rem;
    margin: 2rem 1rem;
    border-radius: 0.4rem;
    outline: none;
    border: none;
    font-size: clamp(1.4rem,2.5vw,1.6rem);
    font-family: sans-serif;
    font-weight: 500;
    border-bottom: 1px solid #aaa;
}
.button{
    margin: 0 auto;
    margin: 4rem auto;
    font-family: sans-serif;
    font-weight: 100;
    padding: 1rem;
    width: 50%;
}

#button-create{
    width: 150px;
    margin: 0.5rem 2rem 3rem 2rem;
    padding: 0.5rem 2rem;
}

#create-task-form-header{
    padding: 2rem 0;
    font-size: 2.4rem;
}

.input-create{
    padding: 0.8rem 0.5rem;
    width: 200px;
}

.svg{
    width: 32px;
    cursor: pointer;
}

#task-table{
    margin: 0 auto;
    padding: 1rem;
    color: white;
    width: 50%;
}
.task-row{
    background-color: red;
    display: flex;
    flex-direction: column;
    margin: 1rem;
    padding: 2rem;
}

.task-date{
    font-size: 2.4rem;
    margin: 1rem 0;
}
.task-title{
    font-size: 2rem;
    margin: 2rem 0;
}
